/*Reset Básico*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(0, 208, 255, 0.058);
}

.main-header {
    background-color: #333; 
    color: white;
    padding: 15px 30px;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

.main-nav {
    list-style: none; 
    display: flex; 
    gap: 20px; 
}

.main-nav a {
    color: white; 
    text-decoration: none; 
    font-size: 1.1em;
    padding: 5px 10px;
    transition: color 0.3s; 
}

.main-nav a:hover {
    color: #ffd700; 
}

.quem_sou_eu{
    display: flex;
    gap:30px;
    align-items:center;
    padding: 60px 20px;
}

.imagem.rapha{
    flex:1;
    border:2px solid #333;
    height: 200px;
    display: flex;
    justify-content: center;
}

.apresentacao{
    flex: 3;
    border: 2px solid #333;
    padding: 20px;
}

/*Estilizando (Nossos Serviços)*/

.cards-container{
    width: 100%;
    max-width: 1200px;
    margin:0 auto;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr; 
    perspective: 1000px;
    gap: 20px;
    padding: 40px;
    perspective: 1000px;
}

.flip-card-inner{
    position:relative;
    width: 100%;
    height: 350px;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.servico-item:hover .flip-card-inner{
    transform: rotateY(180deg);
}

.card-front{
    border: 2px solid #333;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    position: absolute;
    backface-visibility: hidden;
    padding: 20px;
}

.card-back{
    border: 2px solid #333;
    width: 100%;
    height: 150px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    position: absolute;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    padding: 20px;
}

